@use "sass:map";
@import "palette";

$theme-color-list: (#2862AB, #b5301f, #8939A1, #509e3c, #2D4AAD, #a15d42, #5080A0, #209e8f);

@function get-color-value($color) {
  @return #{red($color)}, #{green($color)}, #{blue($color)};
}

@for $i from 1 through length($theme-color-list) {
  $theme-color: nth($theme-color-list, $i);
  $result: generate($theme-color);
  $light-palette: map.get($result, "light");
  $dark-palette: map.get($result, "dark");

  .theme-#{$i} {
    @include color-palette($light-palette);
    transition: opacity 0.5s ease-in-out 0.3s;

    .dark & {
      @include color-palette($dark-palette, true);
    }
  }
}
