@import 'theme';

* {
  box-sizing: border-box;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    sans-serif !important;
  -webkit-tap-highlight-color: transparent;
  @apply antialiased;
}

html {
  @apply overflow-hidden;
}

#__daidr_app {
  @apply fixed top-0 left-0 bottom-0 right-0;
  overflow: hidden;
}

.y-scroll-box {
  @apply overflow-y-scroll;
}

.transition-router {
  @apply transition-all motion-reduce:transition-none;

  @supports (-webkit-touch-callout: none) {
    .y-scroll-box {
      @apply overflow-hidden;
    }
  }
}

::selection {
  @apply bg-primary text-primary-extralight;
}

@keyframes backshake {
  0% {
    transform: rotate(8deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  75% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.transition-page-wrapper {
  @apply transform-gpu translate-z-200vh z-91;
  @apply backface-hidden;
}

.transition-extra-wrapper {
  @apply transform-gpu;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
  transition-duration: 800ms;
  @apply motion-reduce:transition-none;
  @apply opacity-100 scale-100 translate-x-0 translate-z-150vh z-90;
  @apply origin-top-left;
}

body.hide-extra-wrapper {
  .transition-extra-wrapper {
    @apply opacity-0 scale-90 translate-x-50;
  }
}

body {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.fade-enter-active,
.fade-leave-active {
  @apply transition-opacity;
}

.fade-enter-from,
.fade-leave-to {
  @apply opacity-0;
}

.wp-smiley {
  @apply inline-block;
  height: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes announcement-from {
  from {
    transform: scale(0);
  }
}

@keyframes announcement-to {
  to {
    transform: scale(0);
  }
}

@keyframes sidebar-from {
  from {
    transform: translateX(50vw);
  }
}

@keyframes sidebar-to {
  to {
    transform: translateX(50vw);
  }
}

::view-transition-old(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-group(*),
::view-transition-old(*),
::view-transition-new(*) {
  animation-duration: 600ms;
}

::view-transition-old(main-announcement) {
  animation:
    300ms ease-in-out both fade-out,
    600ms ease-in-out both announcement-to;
  mix-blend-mode: normal;
}

::view-transition-new(main-announcement) {
  animation:
    300ms ease-in-out 300ms both fade-in,
    600ms ease-in-out both announcement-from;
  mix-blend-mode: normal;
}

::view-transition-old(article-sidebar) {
  animation:
    300ms ease-in-out both fade-out,
    600ms ease-in-out both sidebar-to;
  mix-blend-mode: normal;
}

::view-transition-new(article-sidebar) {
  animation:
    300ms ease-in-out 300ms both fade-in,
    600ms ease-in-out both sidebar-from;
  mix-blend-mode: normal;
}

@media (prefers-reduced-motion) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}
