.hljs {
  @apply sm:border-2 border-primary-2 dark-border-primary-4;
  @apply bg-primary-1/40 dark-bg-primary-2/80;
  @apply m-0 text-base;
  @apply rounded-none sm:rounded-2xl;
  @apply <sm:-mx-5 mt-2;
  & * {
    font-family:
      Consolas,
      Monaco,
      -apple-system,
      BlinkMacSystemFont,
      PingFang SC,
      Hiragino Sans GB,
      Microsoft YaHei,
      sans-serif !important;
  }
}

.hljs-toolbar-wrapper {
  @apply relative;

  &:hover {
    .code-toolbar {
      @apply opacity-100;
    }
  }
}

.code-toolbar {
  @apply absolute top-1 right-1 text-base select-none;
  @apply flex items-center justify-end space-x-2;
  @apply bg-light dark-bg-dark p-1;
  @apply rounded-xl;
  @apply transition-opacity opacity-0;
  @apply border-1 border-primary-2 dark-border-primary-4;
  @apply <sm:-mx-5;

  .code-copy-btn {
    @apply text-primary px-2 py-0.5 rounded-lg;
    @apply transition-colors;
    @apply cursor-pointer;

    &:hover {
      @apply bg-primary-4 text-white dark-text-white/90;
    }
  }

  .code-lang-text {
    @apply text-primary-4 dark-text-primary-7 pr-2;
  }
}

.hljs code {
  display: block;
  overflow-x: auto;
  padding: 16px;
}

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: #a626a4;
}

.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: #e45649;
}

.hljs-literal {
  color: #0184bb;
}

.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #50a14f;
}

.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #986801;
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: #4078f2;
}

.hljs-built_in,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: #c18401;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}

.hljs-link {
  text-decoration: underline;
}
