.shiki {
    @apply sm:border-2 border-primary-2 dark-border-primary-4;
    @apply bg-primary-1/40 dark-bg-primary-2/80;
    @apply m-0 text-base;
    @apply rounded-none sm:rounded-2xl;
    @apply <sm:-mx-5 mt-2;
    & * {
        font-family: Consolas, Monaco, "Courier New" !important;
    }

    &-toolbar-wrapper {
        @apply relative;

        &:hover {
            .code-toolbar {
                @apply opacity-100;
            }
        }
    }

    code {
        display: block;
        overflow-x: auto;
        padding: 16px;
    }
}

.code-toolbar {
    @apply absolute top-1 right-1 text-base select-none;
    @apply flex items-center justify-end gap-x-2;
    @apply bg-light dark-bg-dark p-1;
    @apply rounded-xl;
    @apply transition-opacity opacity-0;
    @apply border-1 border-primary-2 dark-border-primary-4;
    @apply <sm:-mx-5;

    .code-copy-btn {
        @apply text-primary px-2 py-0.5 rounded-lg;
        @apply transition-colors;
        @apply cursor-pointer;

        &:hover {
            @apply bg-primary-4 text-white dark-text-white/90;
        }
    }

    .code-lang-text {
        @apply text-primary-4 dark-text-primary-7 pr-2;
    }
}
