.blog-article-wrapper {
    --wp--style--unstable-gallery-gap: 0.5em;

    .is-layout-flex {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .wp-block-gallery {
        gap: var(--wp--style--unstable-gallery-gap, 0.5em);
    }

    .wp-block-gallery:not(.is-cropped) .blocks-gallery-item {
        align-self: flex-start;
    }

    figure.wp-block-gallery.has-nested-images {
        align-items: normal;
    }

    .wp-block-gallery.has-nested-images figure.wp-block-image:not(#individual-image) {
        margin: 0;
        width: calc(50% - var(--wp--style--unstable-gallery-gap, 16px) / 2);
    }

    .wp-block-gallery.has-nested-images figure.wp-block-image {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        max-width: 100%;
        position: relative;
    }

    .wp-block-gallery.has-nested-images figure.wp-block-image > a,
    .wp-block-gallery.has-nested-images figure.wp-block-image > div {
        flex-direction: column;
        flex-grow: 1;
        margin: 0;
    }

    .wp-block-gallery.has-nested-images figure.wp-block-image img {
        display: block;
        height: auto;
        max-width: 100% !important;
        width: auto;
    }

    .wp-block-gallery.has-nested-images figure.wp-block-image figcaption {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3) 70%, transparent);
        bottom: 0;
        box-sizing: border-box;
        color: #fff;
        font-size: 13px;
        left: 0;
        margin-bottom: 0;
        max-height: 60%;
        overflow: auto;
        padding: 0 8px 8px;
        position: absolute;
        scrollbar-color: transparent transparent;
        scrollbar-gutter: stable both-edges;
        scrollbar-width: thin;
        text-align: center;
        width: 100%;
        will-change: transform;
    }

    .wp-block-gallery.has-nested-images figure.wp-block-image figcaption::-webkit-scrollbar {
        height: 12px;
        width: 12px;
    }

    .wp-block-gallery.has-nested-images figure.wp-block-image figcaption::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .wp-block-gallery.has-nested-images figure.wp-block-image figcaption::-webkit-scrollbar-thumb {
        background-clip: padding-box;
        background-color: transparent;
        border: 3px solid transparent;
        border-radius: 8px;
    }

    .wp-block-gallery.has-nested-images figure.wp-block-image figcaption:focus-within::-webkit-scrollbar-thumb,
    .wp-block-gallery.has-nested-images figure.wp-block-image figcaption:focus::-webkit-scrollbar-thumb,
    .wp-block-gallery.has-nested-images figure.wp-block-image figcaption:hover::-webkit-scrollbar-thumb {
        background-color: hsla(0, 0%, 100%, 0.8);
    }

    .wp-block-gallery.has-nested-images figure.wp-block-image figcaption:focus,
    .wp-block-gallery.has-nested-images figure.wp-block-image figcaption:focus-within,
    .wp-block-gallery.has-nested-images figure.wp-block-image figcaption:hover {
        scrollbar-color: hsla(0, 0%, 100%, 0.8) transparent;
    }

    @media (hover: none) {
        .wp-block-gallery.has-nested-images figure.wp-block-image figcaption {
            scrollbar-color: hsla(0, 0%, 100%, 0.8) transparent;
        }
    }

    .wp-block-gallery.has-nested-images figure.wp-block-image figcaption img {
        display: inline;
    }

    .wp-block-gallery.has-nested-images figure.wp-block-image figcaption a {
        color: inherit;
    }

    .wp-block-gallery.has-nested-images figure.wp-block-image.has-custom-border img {
        box-sizing: border-box;
    }

    .wp-block-gallery.has-nested-images figure.wp-block-image.has-custom-border > a,
    .wp-block-gallery.has-nested-images figure.wp-block-image.has-custom-border > div,
    .wp-block-gallery.has-nested-images figure.wp-block-image.is-style-rounded > a,
    .wp-block-gallery.has-nested-images figure.wp-block-image.is-style-rounded > div {
        flex: 1 1 auto;
    }

    .wp-block-gallery.has-nested-images figure.wp-block-image.has-custom-border figcaption,
    .wp-block-gallery.has-nested-images figure.wp-block-image.is-style-rounded figcaption {
        background: none;
        color: inherit;
        flex: initial;
        margin: 0;
        padding: 10px 10px 9px;
        position: relative;
    }

    .wp-block-gallery.has-nested-images figcaption {
        flex-basis: 100%;
        flex-grow: 1;
        text-align: center;
    }

    .wp-block-gallery.has-nested-images:not(.is-cropped) figure.wp-block-image:not(#individual-image) {
        margin-bottom: auto;
        margin-top: 0;
    }

    .wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image) {
        align-self: inherit;
    }

    .wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image) > a,
    .wp-block-gallery.has-nested-images.is-cropped
        figure.wp-block-image:not(#individual-image)
        > div:not(.components-drop-zone) {
        display: flex;
    }

    .wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image) a,
    .wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image) img {
        flex: 1 0 0%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
    }

    .wp-block-gallery.has-nested-images.columns-1 figure.wp-block-image:not(#individual-image) {
        width: 100%;
    }

    @media (min-width: 600px) {
        .wp-block-gallery.has-nested-images.columns-3 figure.wp-block-image:not(#individual-image) {
            width: calc(33.33333% - var(--wp--style--unstable-gallery-gap, 16px) * 0.66667);
        }

        .wp-block-gallery.has-nested-images.columns-4 figure.wp-block-image:not(#individual-image) {
            width: calc(25% - var(--wp--style--unstable-gallery-gap, 16px) * 0.75);
        }

        .wp-block-gallery.has-nested-images.columns-5 figure.wp-block-image:not(#individual-image) {
            width: calc(20% - var(--wp--style--unstable-gallery-gap, 16px) * 0.8);
        }

        .wp-block-gallery.has-nested-images.columns-6 figure.wp-block-image:not(#individual-image) {
            width: calc(16.66667% - var(--wp--style--unstable-gallery-gap, 16px) * 0.83333);
        }

        .wp-block-gallery.has-nested-images.columns-7 figure.wp-block-image:not(#individual-image) {
            width: calc(14.28571% - var(--wp--style--unstable-gallery-gap, 16px) * 0.85714);
        }

        .wp-block-gallery.has-nested-images.columns-8 figure.wp-block-image:not(#individual-image) {
            width: calc(12.5% - var(--wp--style--unstable-gallery-gap, 16px) * 0.875);
        }

        .wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image) {
            width: calc(33.33% - var(--wp--style--unstable-gallery-gap, 16px) * 0.66667);
        }

        .wp-block-gallery.has-nested-images.columns-default
            figure.wp-block-image:not(#individual-image):first-child:nth-last-child(2),
        .wp-block-gallery.has-nested-images.columns-default
            figure.wp-block-image:not(#individual-image):first-child:nth-last-child(2)
            ~ figure.wp-block-image:not(#individual-image) {
            width: calc(50% - var(--wp--style--unstable-gallery-gap, 16px) * 0.5);
        }

        .wp-block-gallery.has-nested-images.columns-default
            figure.wp-block-image:not(#individual-image):first-child:last-child {
            width: 100%;
        }
    }

    .wp-block-gallery.has-nested-images.alignleft,
    .wp-block-gallery.has-nested-images.alignright {
        max-width: 420px;
        width: 100%;
    }

    .wp-block-gallery.has-nested-images.aligncenter {
        justify-content: center;
    }
}
